doctype html
html
 head
  title Making an appointment
 body
  h1 Interview questions for position as Research Assistant
  h2 Part1
  form(action='/overview' method='POST')
    p Title:
      input(type="text" name="patient_name" placeholder="")
    p Year:
      input(type="text" name="purpose_of_appointment" placeholder="")
    p imdb:
      input(type="datetime-local" name="time" placeholder="")
    input(type="submit")
