
doctype html
html
 head
  title Overview of appointment
 body
  h1 Overview of created appointments
  d
   table
    thead
     tr
      th patient
      th purpose
      th time
    tbody
     each row in data
       tr
         th #{row.patient}
         th #{row.purpose}
         th #{row.time}

